# API
API_PORT=""
API_KEY=""
JWT_SECRET=""
JWT_AccessToken_TTL=""
JWT_RefreshToken_TTL=""
GIN_MODE=""
LOG_LEVEL=""
# Database
DATABASE_URL=""

# AUTH

## GOOGLE
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
